<link href="templates/hnx/hnx.css" rel="stylesheet">
<div class="table-responsive" id="option1-scr">
    <div class="tbl-fix-header">
        <table class="table color-table muted-table banggia" style="width: 100%;">
        
        </table>
    </div>
    <table class="table color-table muted-table banggia" id="tbl-cs" style="margin-top: 98px;">
        
    </table>
</div>

<script src="templates/hnx/hnx.js"></script>
<!-- <script src="dist/js/pages/fbapp.js"></script> -->
<script type="text/javascript">
	objPage.init();
</script>