<link href="templates/thoathuan/thoathuan.css" rel="stylesheet">

<div class="table-responsive">
    <div class="col-12 txt-content" style="margin-top: 40px; text-align: center;">

    </div>
    <div class="col-12" style="display: flex; padding: 0;">
        <div class="col-3" style="padding-left:0;">
            <table class="table color-table muted-table" id="thoathuan-benmua">
                <thead>
                    <tr>
                        <th colspan="4" class="txtBenMua">Bên mua</th>
                    </tr>
                    <tr>
                        <th class="txtMaCK">Mã CK</th>
                        <th class="txtGia">Giá</th>
                        <th class="txtKhoiLuong">KL</th>
                        <th class="txtThoiGian">Thời gian</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table color-table muted-table" id="thoathuan-khoplenh">
                <thead>
                    <tr>
                        <th colspan="5" class="txtKhopLenh">Khớp lệnh</th>
                    </tr>
                    <tr>
                        <th class="txtMaCK">Mã CK</th>
                        <th class="txtGia">Giá</th>
                        <th class="txtKhoiLuong">KL</th>
                        <th class="txtGiaTri">Giá trị</th>
                        <th class="txtThoiGian">Thời gian</th>
                        <!-- <th>Sàn</th> -->
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-3" style="padding-right:0;">
            <table class="table color-table muted-table" id="thoathuan-benban">
                <thead>
                    <tr>
                        <th colspan="4" class="txtBenBan">Bên bán</th>
                    </tr>
                    <tr>
                        <th class="txtMaCK">Mã CK</th>
                        <th class="txtGia">Giá</th>
                        <th class="txtKhoiLuong">KL</th>
                        <th class="txtThoiGian">Thời gian</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="templates/thoathuan/thoathuan.js"></script>
<script type="text/javascript">
    objPage.init();
</script>